

.main-form-container {
    box-shadow: 26px 24px 58px -6px rgba(0,0,0,0.84);
    margin-top: 4vw;
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 30vw;
}

.form-container p {
    padding-top: 20px;
}