
/* .not-found-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
} */

.inner-not-found-container {
    padding-bottom: 3vh;
    background: white;
    display: inline-block;
    justify-content: center;
    border-radius: 20px;
}

#not-found-title {
    color: black;
}