.container {
    display: inline-table;
    grid-auto-flow: column;
    gap: 5px;
    align-items: center;
    justify-items: center;
    padding-left: 17%;
 }
 .container div {
    display: inline-block;
    margin: 7px;
 }
 div.card {
    display: inline-table;
    justify-content: center;
    margin-left: 10px;
    background-color: grey;
    margin-top: 5em;
  }
  div.card-body {
    display: grid;
  }