
.user-info {
    background: whitesmoke;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-top: 5px;
}

.card-body {
    cursor: pointer;
    padding: 5rem;
}

.photo-input {
    font-size: 22px;
    font-weight: 600;
}

#photo-title {
    margin-right: 8px;
}

.submit-button {
    margin: 10px 0;
    border-radius: 10px;
    padding: 0 35px;
}

.toggle-button {
    border-radius: 10px;
    padding: 0 35px;
    margin-bottom: 10px;
}

.pick-photo-button {
    background: whitesmoke;
    cursor: pointer;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0 39px;
}

.clear-button {
    border-radius: 10px;
    padding: 1px 10px;
    background: lightcoral;
}

.uploaded-img {
    padding-bottom: 15px;
}

.photo {
    max-width: 25vw;
}

.uploaded-img-info {
    max-width: 30vw;
    padding: 20px;
}