
.main-private-container {
    display: flex;
    justify-content: center;
    height: 68vh;
}

.private-container {
    border: 10px solid transparent;
    box-shadow: 26px 24px 40px 2px rgba(0,0,0,0.9);
    background: rgba(212, 212, 212, 0.97);
    border-radius: 20px;
    padding: 1vw 5vw 5vw 5vw;
    width: 70vw;
    overflow-y: auto;
    position: relative;
}

.back-btn {
    border: 1px solid lightgray;
    padding: 15px 20px;
    border-radius: 50%;
    position: absolute;
    left: 20px;
    top: 20px;
}

.page-title {
    text-decoration: underline;
}

.no-contests-container {
    margin-top: 10vh;
}

.no-contests-container img {
    max-width: 300px;
    max-height: 280px;
    border-radius: 20px;
}