.nav-bar {
    /* border-bottom: 1px solid blue; */
    display: inline-block;
    width: 100%;
}

/* .logo-container {
    float: left;
    margin: 0.5vw 1vw;
} */

.logo {
    border-radius: 10px;
    float: left;
    padding: 0.9vw;
    cursor: pointer;
}

.logo img {
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.9);
    border-radius: 50%;
    width: 120px;
    height: 120px;
}


.logo span {
    margin-left: 20px;
}

.nav-btns {
    float: right;
    padding: 4vw;
}

#dashboard-btn {
    border: 2px solid #868D90;
    margin-right: 30px;
    border-radius: 5px;
}

#login-btn {
    border: 2px solid #868D90;
    margin-right: 30px;
}

#register-btn {
    border: 2px solid #868D90;
}

#logout-btn {
    border: 2px solid #868D90;
    border-radius: 5px;
}