.form {
    box-shadow: 26px 24px 40px 2px rgba(0,0,0,0.9);
    background-color: white;
    width: fit-content;
    display: inline-block;
    border-radius: 25px;
    padding: 20px;
    text-align: start;
    margin-top: 10vh;
}
.form h3 {
    text-align: center;
    padding-bottom: 5px;
}
.category { 
    margin-left: 25px;
}
.title { 
    margin-left: 59px;
}
.type { 
    margin-left: 56px;
}
.phase1 {
    margin-left: 5px;
}
.phase2 {
    margin-left: 5px;
}
.button {
    padding-left: 35px;
    padding-right: 35px;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 10px;
}