
.landing-page-container {
    display: flex;
    justify-content: space-between;
}

.title-container {
    justify-content: flex-start;
    padding-left: 15vw;
}

.title-container h3 {
    font-family: 'Acme', sans-serif;
    font-size: 50px;
    color: #491459;
}

.quote-container {
    padding-right: 15vw;
}

.quote-container blockquote {
    background: rgba(212, 212, 212, 0.5);
    box-shadow: 26px 24px 40px 2px rgba(0,0,0,0.9);
    border-radius: 22px;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    align-self: end;
    margin-top: 30vh;
    padding: 20px;
    color: #491459;
}

.quote-author {
    text-align: right;
}