
.countdown {
    border-bottom: 2px solid black;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
}

.countdown .countdown-label {
    font-size: 20px;
    border-right: 2px solid black;
    margin-right: 5px;
    padding-right: 5px;
    font-weight: 500;
}

.countdown-number {
    font-size: 20px;
    font-weight: 500;
}